.center-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 250px;
}

.personality-box {
  display: flex;
  flex-direction: column;

}

.picture, .name, .popularity {
  width: 150px;
  height: auto;
  padding: 10px;
}

.contact-item {
display: flex;
flex-direction: row;
flex-wrap: nowrap; 

}


.title-box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; 
  font-size: 1.2rem;
  font-weight: bold;
  
  }

.random-contact {
  width: 30%
}